<h1>Detalhes do Evento</h1>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Eventos</a></li>
  <li class="active">Detalhes do Evento</li>
</ul>

<div class="row top15">
  <div class="col-md-12">
    <form class="form-horizontal">
        <fieldset>
            <legend>III Copa Cara de Leão</legend>
            <div class="row">
              <div class="col-md-2"><span class="glyphicon glyphicon-ok"></span> Criado</div>
              <div class="col-md-3 text-muted">Inscrições Abertas</div>
              <div class="col-md-3 text-muted">Em Checagem</div>
              <div class="col-md-2 text-muted">Chaves Divulgadas</div>
              <div class="col-md-2 text-muted text-right">Finalizado</div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="control-group top15">
                    <label class="control-label">Local</label>
                    <div class="controls">
                        Vilar dos Teles - Colégio Fluminense
                    </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="control-group top15">
                    <label class="control-label">Horário</label>
                    <div class="controls">
                      01/08/2015 09:00 às 01/08/2015 19:00
                      <button type="button" class="btn btn-default btn-xs">Editar</button>
                    </div>
                </div>
              </div>
            </div>
        </fieldset>
    </form>
  </div>
</div>
