<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Eventos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Eventos</a>
            </li>
            <li class="active">
                <strong>Criar Evento</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-5">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Evento</h5>
              </div>
              <div class="ibox-content">
                  <form class="form-horizontal">
                      <div class="form-group"><label class="col-lg-2 control-label">Nome</label>
                          <div class="col-lg-10"><input type="text" placeholder="Ex. Campeonato Brasileiro de Jiu-Jitsu" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Local</label>
                          <div class="col-lg-10"><input type="text" placeholder="Ex. Av. Carlos Lacerda, 330, Rio de Janeiro, RJ" class="form-control"></div>
                      </div>
                      <div class="form-group">
                          <div class="col-lg-10">
                            <div class="row">
                              <div class="col-md-6">
                                <label class="control-label">Início</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" ng-model="starts" datepicker-popup="dd-MMMM-yyyy">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="control-label">Término</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" ng-model="ends" datepicker-popup="dd-MMMM-yyyy">
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                              <button class="btn btn-white" type="submit">Voltar</button>
                              <button class="btn btn-primary" type="submit">Salvar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
