<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a href="#">Eventos</a></li>
	<li class="active">Criar Evento</li>
</ul>
<form role="form">
	<div class="form-group">
		<label for="name">Nome</label>
		<input type="text" class="form-control" id="name" placeholder="Nome do Evento">
	</div>
	<div class="form-group">
		<label for="place">Início</label>
		<input type="text" class="form-control" id="dateStart" placeholder="Início do evento">
	</div>
	<div class="form-group">
		<label for="place">Término</label>
		<input type="text" class="form-control" id="dateEnd" placeholder="Término do Evento">
	</div>
	<div class="form-group">
		<label for="place">Local</label>
		<input type="text" class="form-control" id="place" placeholder="Local do evento">
	</div>
	<div class="form-group">
		<label for="address">Endereço</label>
		<input type="text" class="form-control" id="address" placeholder="Endereço">
	</div>
	<div class="form-group">
		<label for="province">Bairro</label>
		<input type="text" class="form-control" id="province" placeholder="Bairro">
	</div>
	<div class="form-group">
		<label for="city">Cidade</label>
		<input type="text" class="form-control" id="city" placeholder="Cidade">
	</div>
	<div class="form-group">
		<label for="state">Estado</label>
		<select id="state" class="form-control">
			<option>Rio de Janeiro</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Salvar</button>
	<a href="#/events" class="btn btn-default">Voltar</a>
</form>
