<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li class="active">Eventos</li>
</ul>
<div class="row">
	<div class="col-md-12">
		<div class="pull-right">
			<a href="#/event" class="btn btn-primary btn-sm" role="button">Criar Evento</a>
		</div>
	</div>
</div>
<div class="panel panel-primary top10">
	<div class="panel-heading">
		<h3 class="panel-title">Copa Hélio Grace 2014</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div><strong>Local</strong>: Rio de Janeiro</div>
				<div><strong>Início</strong>: 29/07/2014 às 9:00h</div>
				<div><strong>Término</strong>: 29/07/2014 às 19:00h</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-2 text-center">
						<h4>234 <br /><small>Inscritos</small></h4>
					</div>
					<div class="col-md-2 text-center">
						<h4>200 <br /><small>Confirmados</small></h4>
					</div>
					<div class="col-md-8">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-sm">Editar</button>
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">Duplicar</a></li>
								<li class="divider"></li>
								<li><a href="#"><span class="text-danger">Remover</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-primary top10">
	<div class="panel-heading">
		<h3 class="panel-title">Copa Hélio Grace 2014</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div><strong>Local</strong>: Rio de Janeiro</div>
				<div><strong>Início</strong>: 29/07/2014 às 9:00h</div>
				<div><strong>Término</strong>: 29/07/2014 às 19:00h</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-2 text-center">
						<h4>234 <br /><small>Inscritos</small></h4>
					</div>
					<div class="col-md-2 text-center">
						<h4>200 <br /><small>Confirmados</small></h4>
					</div>
					<div class="col-md-8">
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-sm">Editar</button>
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">Duplicar</a></li>
								<li class="divider"></li>
								<li><a href="#"><span class="text-danger">Remover</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
