<ul class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li class="active">Eventos</li>
</ul>
<div class="row">
	<div class="col-md-12">
		<div class="pull-right">
			<a href="#/event" class="btn btn-primary btn-sm" role="button">Criar Evento</a>
		</div>
	</div>
</div>
<div class="panel panel-primary top10" ng-repeat="event in events">
	<div class="panel-heading">
		<h3 class="panel-title">{{event.name}}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div><strong>Local</strong>: {{event.place}}</div>
				<div><strong>Início</strong>: {{event.starts | date:'dd/MM/yyyy HH:mm'}}</div>
				<div><strong>Término</strong>: {{event.ends | date:'dd/MM/yyyy HH:mm'}}</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-2 text-center">
						<h4>234 <br /><small>Inscritos</small></h4>
					</div>
					<div class="col-md-2 text-center">
						<h4>200 <br /><small>Confirmados</small></h4>
					</div>
					<div class="col-md-8">
						<div class="btn-group pull-right">
							<a href="#/event/{{event.id}}" class="btn btn-primary btn-sm">Editar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
